@media (max-width:1200px) {
    .container{
        max-width: 960px;
    }
    
}
@media (max-width:992px) {
    .container{
        max-width: 720px;
    }
    .main-carts-boxs{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        row-gap: 20px;
        column-gap: 20px;
    }
    .main-desc-carts{
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items:  center;
    }
    
    
}
@media (max-width:768px) {
    .container{
        max-width: 540px;
    }
    .bars{
        display: block;
    }
    .links ul{
        display: none;
    }
    .main-carts-boxs{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 20px;
    }
    .main-desc-carts{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .main-analytics-boxs{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .main-analaytics-box{
        border: none;
    }
    .main-analaytics-box2{
        border: none;
    }
    .main-analaytics-box3{
        border: none;
    }

}

@media (max-width:576px) {
    .container{
        max-width: 100%;
    }
    .bars{
        display: block;
    }
    .links ul{
        display: none;
    }
    .main-navbar-text{
        font-size: 80px;
        line-height: 90px;
    }
    .main-desc-title{
        font-size: 30px;
    }
    .main-desc-title2{
        font-size: 30px;
        line-height: 40px;
    }
    .main-carts-boxs{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .main-desc-carts{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .desc-cart-img{
        max-width: 360px;
    }
    .main-desc-cart-box{
        max-width: 370px;
    }
    .main-analytics-boxs{
        grid-template-columns: 1fr;
        row-gap: 20px;
        
    }
    .main-analaytics-box{
        border: none;
    }
    .main-analaytics-box2{
        border: none;
    }
    .main-analaytics-box3{
        border: none;
    }
    
    
}